<div id="menu<%= menu._id %>" class="restaurant-menu collapsed card">
    <div id="header-menu<%= menu._id %>" class="card-header">
        <%= menu.name %>
    </div>
    <div id="content-menu<%= menu._id %>" class="card-content">

        <div id="meals-list-menu<%= menu._id %>"></div>

    </div>
</div>
